/* Basic grid wireframe setup */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc; /* Light gray background */
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    flex-direction: column
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    padding: 16px;
    border-radius: 10px;
    min-height: 300px
}

.grid-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    color: white;
    padding: 16px;
    border-radius: 8px;
}

.column {
    grid-column: span 8;
    display: flex
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 41, 0);
}

header {
    grid-column: span 9;
    background-color: purple;
}

.aside1 {
    grid-column: span 9;
    background-color: #423fec;
    align-items:center
}

.aside2 {
    grid-column: span 9;
    background-color: #3390ed;
    align-items:center
}

.footer {
    grid-column: span 9;
    background-color: orange;
    align-items:center
    text-align: center;
    
}